body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
.header {
  background-color: #6ed023;
  padding: 20px;
  text-align: center;
  color: #fbfafa;
  font-size: 24px;
  font-weight: bold;
}

/* Container*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Artigo de cada personagem) */
.artigo {
  background-color: #fbfafa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Imagem do personagem */
.artigo-imagem {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artigo-imagem img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

/* Texto lado da imagem */
.artigo-texto {
  flex: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artigo-texto p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* "Ler mais..." */
.artigo-texto a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  align-self: flex-start;
}

.artigo-texto a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .artigo {
    flex-direction: column;
    width: 100%;
  }

  .artigo-imagem,
  .artigo-texto {
    flex: none;
    width: 100%;
  }
}
